:root {
    --background1: #484E5C;
    --background2: white;
    --text1: white;
    --text2: black;
    --textHighlight: #A9B7D9;
    -webkit-font-smoothing: antialiased;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-mega: 40px;
    --marginSection: 60px;
    --marginSubSection: 40px;
    --marginParagraph: 15px;
    --maxContainerNarrowWidth: 1200px;
    --maxContainerWideWidth: 1200px;
    --maxParagraphWidth: 768px;
}

html {
    box-sizing: border-box;
    font-weight: 100;
    scroll-behavior: smooth;
}
/* ----------------------------------------------------------------- */

/* Common tags */
body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fz-sm);
    background-color: var(--background1);
    color: var(--text1);
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    line-height:1.5;
}

li {
    line-height: 1.5;
}

p {
    font-size: var(--fz-lg);
    font-weight: 100;
    line-height: 1.5;
}

hr {
    border-top: 5px solid var(--textHighlight);
    border-radius: 5%;
    margin: auto;
    margin-top: 100px;
    width: 50%;
}
/* ----------------------------------------------------------------- */

/* Fixed items */
.email {
    color: red;
    width: 30px;
    position: fixed;
    bottom: 10px;
    right: 40px;
    left: auto;
    letter-spacing: 5px;
    z-index: 10;
    writing-mode:vertical-lr;
}

.logo {
    color: red;
    width: 40px;
}
/* ----------------------------------------------------------------- */

/* Navigation bar */
.navbar {
    padding-top: 10px;
    padding-bottom: 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--textHighlight);
    font-size: var(--fz-lg);
    font-weight:100;
}

.nav-item {
    padding-left: 5px;
    padding-right: 5px;
}
.navbar-brand {
    margin-left: 0px;
}
.navbar-center {
    margin :auto auto;
}

.navbar-toggler-icon {
    left: 100px;
}

/* ----------------------------------------------------------------- */

/* SECTION GENERAL */
.container-fluid {
    height:min-content; /* ensure each container is big enough for content */
    padding-top: 60px; /* prevents toolbars from overlapping with section's content */
    padding-bottom: 60px;
}

.section {
    min-height: 100vh; /* ensure each container takes at least the full page */
    padding-left: 5%;
    padding-right: 5%;
}

.section-wide {
    padding-left: 15%;
    padding-right: 15%;
}

.section-narrow {
    padding-left: 15%;
    padding-right: 15%;
}

.section-dark{
    background-color: var(--background1);
    color: var(--text1);
}

.section-bright {
    background-color: var(--background2);
    color: var(--text2);
}

.section-title {
    font-size: var(--fz-mega);
    font-weight: 800;
    margin-bottom: 40px;
}

.section-title-flex {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.section-title-line {
    border-top: 2px solid var(--textHighlight);
    border-radius: 5%;
    width: 40%;
    margin-top: 30px;
    margin-left: 20px;
}
/* ----------------------------------------------------------------- */

/* Section-intro */
.intro-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0;
    min-height: 90vh;
    max-width: var(--maxContainerWideWidth);
}

.intro-first-block {
    margin-top: 20vh;
    max-width: 885px;
}
.intro-quote {
    color: var(--textHighlight); 
}

#intro h1 {
    font-size: 20px;
}

#intro h2, h3 {
    font-size: 50px;
}
/* ----------------------------------------------------------------- */

/* ABOUT ME */
#aboutme .container-fluid{
    max-width: var(--maxContainerNarrowWidth);
}

.aboutme-grid {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 50px;
}

/* ----------------------------------------------------------------- */

/* SKILLS */
#skills .container-fluid{
    max-width: var(--maxContainerWideWidth);
}

#skills .section-title {
    text-align: left;
}

.skills-grid {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 80px;
    height: 100%;
    position: relative;
}

.skills-left-side {
    padding-right: 0%;
    min-width: 300px;
}

.skills-right-side {
    max-width: 900px;
}

.skill {
    margin-bottom: 10px;
}

.progress {
    height: 20px;
    font-size: 0px;
    margin-right: 0%;
}

.section-education-header {
    display: none;
}

.job {
    padding-bottom: 20px;
}

.job-title {
    line-height: 1;
    font-weight: 700;
}

.date-range {
    line-height: 0.5;
}

.nb {
    margin-top: 30px;
    max-width: 800px;
}

/* ----------------------------------------------------------------- */

/* Section Resume */
#resume .container-fluid {
    max-width: 900px;
}

#resume .section-title {
    text-align: center;
}

.company {
    color: var(--textHighlight);
}
/* ----------------------------------------------------------------- */

/* Projects section */
#projects .container-fluid {
    max-width: var(--maxContainerWideWidth);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px 30px;
    margin: 0 auto 100px;  /* left & right auto margin allows grid to be centered*/
    max-width: var(--maxContainerWidth);
}

.card {
    background-color: var(--textHighlight);
    font-size: var(--fz-md);
    text-align: center;
    transition: all 0.4s ease-in-out;  /* smooth transition */
}

.card:hover {
    -ms-transform: scal(1.05);
    transform: scale(1.05);
} 
/* ----------------------------------------------------------------- */

/* Footer */
footer > hr {
    margin-top: 0px;
}

footer .social-bar {
    padding-top: 150px;
    padding-bottom: 150px;
}
/* ----------------------------------------------------------------- */

/* SOCIAL BAR */
.social-bar {
    margin-top: auto;
    text-align: center;
}

.social-icon {
    color: var(--textHighlight);
    font-size: 30px;
    margin: 20px 10px;
    transition: all 0.2s ease-in-out;
} 

.social-icon:hover {
    color: red;
    transform: scale(1.15);
}

.copyright {
    font-size: var(--fz-xxs);
}
/* ----------------------------------------------------------------- */

/* Media Queries */

/* Mobile devices: 320px-480px
Tablets or iPad: 480px - 768px
Laptop or small-size screen: 768px -1024px
Desktop or large-size screen: 1024px -1200px
Extra-large size device: 1200px and more */


@media screen and (max-width: 768px) {
    :root {
        
        --fz-xxs: 12px;
        --fz-xs: 13px;
        --fz-sm: 14px;
        --fz-md: 16px;
        --fz-lg: 18px;
        --fz-xl: 20px;
        --fz-xxl: 22px;
        --fz-mega: 20px;
        --marginSection: 60px;
        --marginSubSection: 40px;
        --marginParagraph: 15px;
        --maxContainerWidth: 768px;
        --maxParagraphWidth: 768px;
    }

    .body {
        font-size: var(--fz-xs);
    }

    h1 {
        font-size: var(--fz-xxl);
    }

    p {
        font-size: var(--fz-xs);
    }

    h5 {
        font-size: var(--fz-sm);
    }

    ul {
        padding-left: 15px;
    }

    li {
        font-size: var(--fz-xs);
    }

    .email {
        display: none;
    }

    .container-fluid {
        padding: 60px 0;
    }

    .section-narrow, .section-wide {
        padding-left: 5%;
        padding-right: 5%;
    }

    .section-title {
        font-size: var(--fz-mega);
        margin-bottom: 20px;
    }

    .section-title-line {
        width: 40%;
        margin-top: 15px;
        margin-left: 20px;
    }

    #intro h1 {
        font-size: 14px;
    }
    #intro h2, h3 {
        font-size: 30px;
    }

    .aboutme-grid {
        display: block;
    }

    .aboutme-right {
        text-align: center;
    }
    
    .headshot {
        width: 100%;
        height: 100%;
        max-width: 300px;
        margin-top: 30px;
    }

    /* Skills */
    .skills-grid {
        display: block; /* grids become blocks in mobile so elements are stacked */
    }

    .skills-left-side {
        margin-bottom: var(--marginSubSection);
    }

    .job {
        padding-bottom: var(--marginParagraph);
    }

    .section-education-header {
        display:flex;
    }

    /* Projects */
    .projects-grid {
        display: block;
    }

    /* Footer */
    footer .social-bar {
        padding-top: 15px;
        padding-bottom: 100px;
    }
}